.App {
  text-align: center;
}


input {
  display: block;
  font-size: 22px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.zip-search{
  margin: 1.5em 50px;
  padding: 50px;
  background-color: rgb(243, 243, 231);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.zip-result{
  background-color: rgb(243, 243, 243);
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  text-align: left;
  column-gap: 1.5em;
  font-size: .90em;
  margin: 1.5em 70px;
  padding: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* margin: 30px;  */
  /* padding: 30px;   */
}

.li{
  text-align:center;
}

.p{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}